body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-top: 12px;
  max-width: 1128px;
  margin: auto;
}

.header-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.logo {
  width: 84px;
  height: 21px;
  display: block;
  color: #0a66c2;
}
@media (min-width: 992px) {
  .logo {
    width: 135px;
    height: 34px;
  }
}

.link-list {
  display: flex;
  align-items: center;
  margin: 0 0 4px 0;
  list-style: none;
}

.link-list::after {
  display: flex;
  width: 1px;
  height: 37px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}
.link-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 52px;
  color: rgba(0, 0, 0, 0.6);
}

.link-list a img {
  width: 24px;
  height: 24px;
}

.account-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 8px;
  height: 48px;
  font-weight: 600;
}

.join-button {
  color: rgba(0, 0, 0, 0.75);
  padding: 12px 24px;
}

.sign-button {
  color: #0a66c2;
  padding: 12px 24px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px #0a66c2;
}

@media (max-width: 768px) {
  .header {
    padding: 12px 16px;
    flex-wrap: wrap;
  }
  .link-list {
    display: none;
  }
}

@media (max-width: 767px) {
  .link-list {
    display: none;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 135px;
    height: 34px;
  }
}

/* Main */

.main-container,
.topics-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.sign-in-container * {
  box-sizing: border-box;
}

.sign-in-container,
.topics-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 1128px;
  min-height: 560px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .sign-in-container,
  .topics-container {
    max-width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sign-in-container,
  .topics-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 992px) {
  .sign-in-container,
  .topics-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.sign-in-container,
.topics-container {
  max-width: 1128px;
}

.sign-in-content {
  padding-right: 42px;
  align-self: flex-start;

  flex-shrink: 0;

  width: 55%;

  position: relative;
}
@media (max-width: 767px) {
  .sign-in-content {
    padding-right: 0px;
    width: 100%;
  }
}

.sign-in-content h1 {
  margin: 0;
  line-height: 1.2;
  color: #8f5849;
  font-size: 56px;
  font-weight: 200;
}
@media (max-width: 767px) {
  .sign-in-content h1 {
    font-weight: 300;
    font-size: 32px;
  }
}

.sign-in-form {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 408px;
}

@media (max-width: 767px) {
  .sign-in-form {
    width: 100%;
    margin-top: 0;
  }
}

.sign-in-form__form-input-container {
  display: flex;
  flex-flow: wrap;
  position: relative;
}

.input {
  width: 100%;
  background: #fff;
  position: relative;
  margin-top: 12px;
}

.input__input {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  background-color: transparent;
  padding: 20px 12px 4px;
  outline: none;
}
.input__label {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.input__input:focus {
  border-color: #0073b1;
  -webkit-box-shadow: 0 0 0 1px #0073b1;
  box-shadow: 0 0 0 1px #0073b1;
}
.input__input::placeholder {
  color: transparent;
  -webkit-transition: color 0.33s ease;
  transition: color 0.33s ease;
}
.input__input:focus ~ .input__label,
.input__input--has-text ~ .input__label {
  font-size: 0.75rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 6px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.input__input:not(:placeholder-shown) ~ .input__label {
  font-size: 0.75rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 6px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.input__input:not(:-ms-input-placeholder) ~ .input__label {
  font-size: 0.75rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 6px;
  transition-delay: 0s;
}

.sign-in-form__forgot-password-link {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin: 16px 0 24px 0;
}
.sign-in-form__forgot-password-link:hover,
.sign-in-form__forgot-password-link:focus,
.sign-in-form__forgot-password-link:active {
  color: #0a66c2;
}
.sign-in-form__forgot-password-link:visited.sign-in-form__forgot-password-link:visited {
  color: currentColor;
}

.sign-in-form__password-visibility-toggle-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  position: absolute;
  right: 0;
  margin-right: 8px;
  top: calc(50% - 16px);
}
.sign-in-form__password-visibility-toggle-button:focus,
.sign-in-form__password-visibility-toggle-button.focus {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.75);
}
.sign-in-form__password-visibility-toggle-button:active:not(:disabled):not(.disabled),
.sign-in-form__password-visibility-toggle-button.active-not-disabled {
  background-color: rgba(207, 207, 207, 0.25);
  color: rgba(0, 0, 0, 0.9);
}
.sign-in-form__password-visibility-toggle-button:hover {
  cursor: pointer;
}

.image-background {
  flex-shrink: 1;
  height: 560px;
  width: 700px;
  display: block;
  position: relative;
  z-index: -1;
}

@media (max-width: 767px) {
  .image-background {
    width: 374px;
    height: 214px;
    position: static;
  }
}
.sign-in-form__submit-button {
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: inherit;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  height: 56px;
  width: 100%;
  border-radius: 28px;
  line-height: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2977c9;
}

.topics-main-container {
  background-color: #f3f2f0;
}

.topics-container {
  min-height: unset;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .topics-container {
    flex-wrap: nowrap;
  }
}

.topics-container * {
  box-sizing: border-box;
}

.secondary-heading {
  margin: 0;
  font-size: 48px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 767px) {
  .secondary-heading {
    font-weight: 400;
    font-size: 32px;
  }
}

.secondary-heading-container {
  align-self: flex-start;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .secondary-heading-container {
    width: 408px;
    margin-bottom: 0px;
    margin-right: 72px;
  }
}

.list-container {
  width: 100%;
}

.list-name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  margin-bottom: 20px;
}

.list-container ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

.item a {
  height: 56px;
  border-radius: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  width: max-content;
  display: flex;
  margin-right: 6px;
  margin-bottom: 12px;
  float: left;
  box-shadow: 0 0 0 1px #000000bf;
  background-color: #0000;
  color: #000000bf;
  border: 0;
  text-decoration: none;
}

.item:first-child a {
  box-shadow: 0 0 0 1px #0a66c2;
  background-color: #0a66c200;
  color: #0a66c2;
}
